body{
  background-color: #fbe7ee;
}

.navbar{
 background-color: #fec2d6;
}

.navbar-brand{
  font-size: 2.5em;
  justify-content: center;
  font-family: 'Homemade Apple', cursive;
}
.date{
  font-family: 'Englebert', cursive;
  text-align: center;
  font-size: 5em;
  padding-top: 10%;
}
.pic{
padding: 3%;
  display: flex;
  align-items: center;
 
}
.blurb{
  font-family: 'Zen Maru Gothic', serif;
  font-size: 1.7em;
  text-align: center;
  padding: 3%;
}
.blurbb{
  background-color: white;
  border-radius: 5%;
  box-shadow: 0 4px 8px 0 #fa5796, 0 6px 20px 0 #fa5796;
}
hr{
  border: solid #fa5796 3px;
  margin-top: -3%;
  opacity: 100%;
  width: 250px;
margin-left: auto;
margin-right: auto;
}